*{
    padding: 0;
    margin:0;
    box-sizing: none;
    font-family: "Open Sans", sans-serif;
}


.top-nav{
    display: flex;
    justify-content:space-between;
    font-size: 12px;
    background-color: #313131;   
    padding: 1% 1%;
}

.top-nav-left{
    color: red;
}

.top-nav-right{
    display: flex;
    justify-content:space-around;
    color: white;
    flex-wrap: nowrap;
    
}
.top-nav-right-item{
    padding: 0 1.5rem;

}

.mid-nav{
    background-color: #414141;
    padding: 1.5rem 1.5rem;
    display: flex;
    justify-content:space-between;
}



.logo-anhkhue-nav, .logo-casio-nav{
    width: 115px;
    height: 40px;
}


.input-icon i{
    position: absolute;
}

.icon{
    padding: 5px 2px;
    color: #000;
}

.search-pro, .contact-cart-right, .contact, .cart{
    display: flex;
    
}
.info-contact , .info-cart{
    display: flex;
    flex-direction: column;
    
}

.contact, .cart{
    color: white;
    font-size: 12px;
}

.input-search{
    padding: 12px 50px;

}

.icon{
    margin: 1% 1%;
}

.btn-search{
    background-color: red;
    padding: 0 10px;
    color:white;
    border: none;
}


.icon-phone , .icon-cart{
    width: 30px;
    height: 30px; 
}


.bottom-nav{
    display: flex;
    justify-content: space-around;
    background-color:white;
    align-items: center;
}

.list-nav{
    background-color:red;
    padding: 1rem 1.5rem;
    align-items: center;
    color: white;
}

.nav-main{
    display: flex;


}
.nav-main-item{
    margin: 0 1.5rem;
    white-space: nowrap;

}

.img-item{
    width: 100%;
    height: 500px;

}

.slick-dots{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50% , -20px);
    display: flex !important;
    align-items: center;
    justify-content:center;
    background-color:white;
    border-radius:20px;
    padding: 0 10px 7px 10px;
    gap: 20px;
    list-style-type: none;
}
.slick-dots  button{
    font-size: 0;
    width: 10px;
    height: 10px;
    border-radius: 50rem;
    border: none;
    outline: none;
  
}
.slick-active button{
    background-color:red;
}

.certificates{
    margin: 2% 2%;
}


.certificates, .certificates-left, .certificates-mid , .certificates-right{
    display: flex;
    justify-content:space-around;
}
.cer-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 5%;
    white-space: nowrap;
}

.certificates-logo{
    width: 50px;
    height: 50px;
}
.cer-heading{
    font-weight: bold;
}

.sale-product-container{
    display: flex;
    justify-content:space-evenly;

}

.sale-product{
    
}


.img-item-product{
    width: 270px;
    height: 400px;
}


.brand{
    display: flex;
    justify-content:space-around;
    padding: 2% 1%;
}

.brand-item{
    border: 1px solid #ccc;
}
.hot-pro-name, .pro-id,.pro-price{
    margin: 2% 0;
}
.img-brand-item {
    width: 214px;
    height: 90px;
}


.hot-product-info, .style-info{
    position: absolute;
}
.style-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 5%;
}

.style-title{
    font-size: 36px;
    margin-bottom: 2%;
}
.hot-product, .style{
    background-color: #f9f9f9;
}
.product-slider ,.style-product{
    margin-left: 500px;
}

.product-img-item , .img-product-style{
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
    width: 680px;
    height: 370px;
 
}
.news-events{
    font-size: 14px;
    margin: 2% 5%;
}
.news-events , .news-list-box{
    display: flex;
    justify-content: space-around;
}
.news-box{
    padding: 2% 2%;
}
.news-title{
    font-weight: bold;
}

.news-heading{
    display: flex;
    justify-content: space-between;
}
.news-more{
    color: red;
}

.news-events-left{
    display: flex;
    flex-direction: column;
    flex: 3;
}

.img-news-popular{
    width: 310px;
    height: 185px;

}
.news-promotion{
    flex: 1.5;
}
.reg-noti-left{
    display: flex;
    
}
.icon-letter{
    width: 50px;
    height: 50px;
}
.title-reg-noti{
    font-weight: bold;
}
.register-notification{
    padding: 8% 5%;
    display: flex;
    justify-content: space-around;
    background-color:#f9f9f9;
}

.input-email-send{
    display: flex;
}
.input-email-reg{
    width: 100%;
    padding: 0 200px 0 5px;
    border: none;
    font-style: italic;
    outline: none;
}

.btn-register{
    padding: 0.5px 10px 0.5px 10px;
    white-space: nowrap;
    background-color:#f58220;
    color: white;
    border: none;
}
footer{
    background-color:#414141;
    color: white;
    font-size: 14px;
    padding: 2% 0;
}
.footer-top{
    display: flex;
    justify-content: space-around;
    margin: 2% 5%;
}
.info-contact, .info-nav, .support,.term  {
    display: flex;
    flex-direction: column;
    
}

.logo-left{
    display: flex;
}

.logo-anhkhue-footer, .logo-casio-footer{
    width: 170px;
    height: 70px;
    
}
.box-img-logo-footer{
    border-radius:10px;
    border: 1px solid white;
    padding: 1% 1.5rem;
}
.footer-mid{
    display: flex;
    margin: 2% 5%;
}
.info-mid-footer{
    flex:3;
    margin: 0 5% 0 20%;
    display: flex;
    flex-direction: column;
}
.author-footer{
    flex: 1;
}

.bottom-footer{
    display: flex;
    justify-content: space-between;
    margin: 2% 5%;
}
.payment-method{
    display: flex;
}

.title-pro{
    font-size: 36px;
}
.red-line{
    border-top: 1px solid red;
    padding-right: 600px;
}
.payment-img{
    width: 210px;
    height: 70px;
}
.bocongthuong-img{
    width: 110px;
    height: 35px;
    margin: auto;
}
.red-text{
    color: red;
}
.pro-id{
    font-size: 30px;
}
.line-footer{
    margin: 0 5%;
    border-top: 1px solid rgba(0,0,0,.1);
    
}
.logo-left-footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
}